.introduce{
    background: url(../images/trang_chu_background_1.jpg) no-repeat;
    background-size: cover;
    position: relative;
}
.introduce_img_container{
    padding: 100px 0px;
}
.introduce_img_container img{
    display: block;
    margin: auto;
    width: 45%;
}
#search_something{
    margin: 40px auto 20px auto;
    display: flex;
    justify-content: space-between;
    width: 287px;
    background: rgba(62, 123, 180, 0.83);
    border: 2px solid rgba(89, 244, 226, 0.63);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: #64E4E4;
    padding: 4px;
}
.introduce_img_container input{
    width: calc(100% - 16px);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    color: #64E4E4;
    height: 100%;
    padding: 4px 12px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
#search_something a{
    height: 24px;
}
#search_something .icon{
    font-size: 1.5rem;
}
::placeholder {
    color: #64E4E4;
}
.button_container{
    display: flex;
    justify-content: center;
    font-weight: 700;
}
.button_container .btn{
    width: 240px;
    height: 72px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    border: none;
    font-weight: 700;
    font-size: 1.5rem;
    cursor: pointer;
}
.btn:hover{
    filter: brightness(120%);
}
.btn:active{
    transform: scale(105%);
}
.btn .icon{
    font-size: 2.2rem;
}
#download{
    background: url(../images/bg-btn-blue.png) no-repeat;
    background-size: contain;
    margin-right: 28px; 
}
#recharge{
    background: url(../images/bg-btn-pink02.png) no-repeat;
    background-size: contain;
}
#rabbit{
    width: 200px;
    bottom: -80px;
    left: -30px;
    position: absolute;
    z-index: 5;
}
#pig{
    width: 200px;
    bottom: -80px;
    right: -55px;
    position: absolute;
    z-index: 5;
}
.hot_news{
    background: url(../images/trang_chu_background_3.png) no-repeat;
    background-size: cover;
    background-position-x: 49%;
    width: 100%;
    min-height: 800px;
}
.news_title{
    margin: 0px;
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.news_title .icon{
    color: #F24E1E;
}
.dot{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #D0B3FF;
    display: inline-block;
}
.news_content{
    background: rgba(8, 13, 122, 0.5);
    border-radius: 20px;
    margin: 72px auto;
    margin-bottom: 0px;
    width: 940px;
    padding: 40px 0px;
}
.news_list{
    margin: 40px 0px;
}
.news_item div{
    display: flex;
    justify-content: space-between;
}
.news_item a{
    font-size: 1.5rem;
    line-height: 2.2rem;
    width: calc(100% - 50px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
.news_item a:hover{
    color: #64e4e4;
}
.news_item a:active{
    color: red;
}
.news_item span{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.7);
    align-self: center;
}
.background_video{
    background: url(../images/bg-video.png) no-repeat;
    background-size: 100%;
    background-position-y: 6px;
    padding: 22px;
}
.mySlides{
    width: 100%;
    display: none;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {
        opacity: .4
    } 
    to {
        opacity: 1
    }
}
#see_more{
    background: url(../images/bg-btn-orange-large.png) no-repeat;
    background-size: contain;
    width: 300px;
    height: 70px;
    text-transform: uppercase;
    display: block;
    margin: auto;
}
.dot_container{
    margin: auto;
    text-align: center;
}
.dotSlide{
    height: 10px;
    width: 10px;
    border-radius: 5px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.5);
}
.dotSlide + .dotSlide{
    margin-left: 8px;
}
.dot_active{
    background-color: rgba(255, 255, 255, 1);
}
.news_name{
    margin-top: 20px;
    display: inline-block;
    text-align: right;
    font-size: 1.5rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.news_name span{
    font-weight: 300;
    font-size: 1rem;
}
.weapon_library{
    background: url(../images/bg-body1.png) no-repeat;
    background-size: cover;
    position: relative;
}
.weapon_library_title{
    text-align: center;
    line-height: 80px;
    text-transform: uppercase;
    font-size: 36px;
    margin-bottom: 100px;
}
.weapon_title{
    background: url(../images/background_weapon.png) no-repeat;
    background-size: 100%;
    height: 80px;
    width: 500px;
    margin: 0px auto;
    z-index: 5;
    position: relative;
}
.weapon_container{
    width: 100%;
    background: url(../images/bg-video4.png) no-repeat;
    background-size: contain;
    height: 800px;
    padding-top: 100px;
    position: relative;
    top: -40px;
}
.weapon_name{
    text-align: center;
    font-weight: 600;
}
.weapon_description{
    width: 400px;
    height: 240px;
    margin: auto;
    text-indent: 40px;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: justify;
}
.weapon_select{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    margin: 20px auto;
}
.weapon_arrow{
    height: 50px;
    width: 50px;
    mix-blend-mode: luminosity;
}
.weapon_arrow_right{
    background: url(../images/ic-next.png) no-repeat;
    background-position-y: center;
    background-size: contain;
}
.weapon_arrow_left{
    background: url(../images/ic-prev.png) no-repeat;
    background-position-y: center;
    background-size: contain;
}
.weapon{
    width: 80px;
    opacity: 0.7;
}
.weapon_selecting{
    opacity: 1;
    transform: scale(1.4);
    animation: changeWeaponScale 0.2s ease;
}
@keyframes changeWeaponScale {
    from{
        transform: scale(1);
        opacity: 0.7;
    }
    to{
        transform: scale(1.4);
        opacity: 1;
    }
}
.weapon_show{
    opacity: 1;
    width: 100%;
    position: relative;
    top: 100px;
    left: -100px;
}
.library_title{
    background: url(../images/bg-txt.png) no-repeat;
    background-size: contain;
    background-position-x: center;
    width: 350px;
    position: relative;
    margin: auto;
    line-height: 60px;
}
.library_title img{
    background-size: 100%;
    width: 100px;
    position: absolute;
    top: -60px;
    right: -40px;
}
.library{
    display: none;
}
.library_filter{
    text-align: center;
    font-size: 2rem;
    line-height: 60px;
    cursor: pointer;
}
.library_filter:hover{
    color: #64E4E4;
}
.library_filter_active{
    position: relative;
}
.library_filter_active::after{
    position: absolute;
    content: "";
    width: 60%;
    height: 4px;
    background-color: white;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    animation: appear 0.5s ease;
}
@keyframes appear {
    from{
        width: 0%;
        opacity: 0;
    }
    to{
        width: 60%;
        opacity: 1;
    }
}
.add_btn{
    width: 80px;
    float: right;
    padding: 20px 0px;
}
.library_img{
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    height: 100%;
}
.library_img_container{
    margin-top: 12px;
    cursor: pointer;
}

@media (max-width: 1239px) {
    .news_content{
        width: unset;
    }
    .weapon_container{
        padding-top: 30px;
    }
    .weapon_show{
        top: 40px;
        left: -30px;
    }
    .library_filter{
        font-size: 1.2rem;
    }
}

@media (max-width: 1024px) {
    .weapon_description{
        font-size: 1rem;
        height: 100px;
    }   
    .weapon{
        width: 50px;
    }
    .weapon_show{
        width: 100%;
    }
    .library_filter{
        font-size: 1rem;
    }
}

@media (max-width: 740px) {
    .introduce_img_container{
        padding: 50px 0px;
    }
    #download{
        margin-right: 0px; 
    }
    .button_container{
        flex-wrap: wrap;
    }
    #rabbit, #pig{
        width: 100px;
        bottom: -40px;
    }
    .weapon_show{
        display: none;
    }
    .weapon_container{
        height: 500px;
    }
    .news_title{
        font-size: 1.5rem;
    }
    .weapon_title{
        font-size: 1.5rem;
    }
    .weapon_name{
        font-size: 1.5rem;
    }
    .library_title{
        font-size: 1.5rem;
    }
}
@media (max-width: 560px){
    .weapon_container{
        height: 400px;
    }
    .weapon_title{
        font-size: 1rem;
        width: 300px;
    }
    .weapon_library_title{
        line-height: 40px;
    }
    .weapon_description{
        width: 80%;
        height: 40px;
        font-size: 0.5rem;
    }
    .weapon_name{
        font-size: 1rem;
    }
    .weapon_select{
        margin: 0px auto;
    }
    .library_title{
        width: 80%;
    }
    .library_filter{
        font-size: 0.8rem;
    }
}
#modal, #videoContainer{
    background-color: rgba(0, 0, 0, 0.66);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 20;
    display: none;
    animation: appear2 0.5s ease;
}
.modal_close, .videoClose{
    font-size: 40px;
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
}
.modal_img{
    max-width: 80%;
    max-height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@keyframes appear2 {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
